/* -------------------------------------
~> Name Temp     : Posts Sting Web Api
~> Version	     : V 1.0 beta
~> Last Updated  : 10-08-2022 : 12:37 AM
~> Dev By     	 : Sting Dev  - Facebook Page ->  https://www.facebook.com/stingweb.eg
~> Desgin URL    : sting-web.blogspot.com
   -------------------------------------- */

:root {
    --BG: #0066cc;
    --BT: #eceef2;
    --BTR: #d8dbe1;
    --BG1: #e8e8e8 none no-repeat fixed center center;
    --BG2: #fff;
    --BG3: #fff;
    --ST1: #000;
    --ST2: #3e3e3e;
    --STH: #474747;
    --ST3: #104783;
    --ST4: #68581d;
    --ST5: #eceef2;
    --ST7: #fff;
    --ST8: #3e3e3e;
    --CO: #333;
    --BR: #eee;
    --BP: #eee;
    --GD: #eceef2;
    --BL: #e8e8e8;
    --BFO: #fff;
    --BGS: #0066cc
}

:root body.Dark {
    --BG: #1c2733;
    --BT: #1c2733;
    --BG1: #1c2733;
    --BTR: #374656;
    --BG2: #263545;
    --BG3: #121a23;
    --CO: #fff;
    --BR: #252f3a;
    --BP: #1c2733;
    --ST1: #fff;
    --ST2: #121a23;
    --STH: #263545;
    --ST3: #263545;
    --ST4: #263545;
    --ST5: #121a23;
    --ST7: #fff;
    --ST8: #121a23;
    --GD: #121a23;
    --BFO: #263545;
    --BL: #121a23;
    --BGS: #121a23
}

@font-face {
    font-family: 'Neo Sans Arabic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Neo Sans Arabic'), url('https://cdn.statically.io/gh/yallashoot808/yalla-shoot-new/6a47ce1e/NeoSansArabic.woff') format('woff')
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Neo Sans Arabic';
}

.StingApiPost {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px 15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    position: relative;
    padding: 10px;
    background: var(--BG2);
}

a.linkPostApi {
    grid-template-columns: 1fr;
    font-size: 12.3px;
    text-align: center;
    padding: 3px 3px;
    color: var(--CO);
    transition: .3s .1s all ease;
    line-height: 21px;
    width: 92%;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    margin-right: 10px;
    margin-left: 10px;
}

div#PAutoSting1,
div#PAutoSting2,
div#PAutoSting3,
div#PAutoSting4,
div#PAutoSting5,
div#PAutoSting6,
div#PAutoSting7,
div#PAutoSting8 {
    display: inline-block;
    z-index: 1;
    border-radius: 7px;
    transition: .3s all ease;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    width: 230px;
    background: var(--BT);
    box-shadow: 0 0 2px 0 #0a0d3714;
    cursor: pointer;
}

div#PAutoSting1:hover,
div#PAutoSting2:hover,
div#PAutoSting3:hover,
div#PAutoSting4:hover,
div#PAutoSting5:hover,
div#PAutoSting6:hover,
div#PAutoSting7:hover,
div#PAutoSting8:hover {
    transform: scale(1.03);
}


#PAutoSting1 img,
#PAutoSting2 img,
#PAutoSting3 img,
#PAutoSting4 img,
#PAutoSting5 img,
#PAutoSting6 img,
#PAutoSting7 img,
#PAutoSting8 img {
    display: block;
    width: 300px;
    height: 200px;

}

a.linkPostApi:hover {
    color: #931800;
}


@media screen and (max-width: 720px) {

    .StingApiPost {
        grid-template-columns: repeat(1, 1fr);
        gap: 7px 10px;
    }

    div#PAutoSting1,
    div#PAutoSting2,
    div#PAutoSting3,
    div#PAutoSting4,
    div#PAutoSting5,
    div#PAutoSting6,
    div#PAutoSting7,
    div#PAutoSting8 {
        display: inline-block;
        z-index: 1;
        border-radius: 7px;
        transition: .3s all ease;
        position: relative;
        margin-bottom: 3px;
        overflow: hidden;
        width: 100%;
        box-shadow: 0 0 2px 0 #0a0d3714;
        height: 95px;
    }

    #PAutoSting1 img,
    #PAutoSting2 img,
    #PAutoSting3 img,
    #PAutoSting4 img,
    #PAutoSting5 img,
    #PAutoSting6 img,
    #PAutoSting7 img,
    #PAutoSting8 img {
        height: 95px;
        width: 33%;
        float: right;
    }

    a.linkPostApi {
        height: 80px;
        min-height: 80px;
        max-height: 80px;
        width: 58%;
        float: left;
    }

    a.linkPostApi {
        font-weight: 500;
        font-size: 14px;
        text-align: right;
    }

    .rowApi {
        width: 90%;
    }

}



.contentapi{
    background-color: #000000c9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 11111111111111111;
    text-align: center;
}

.actived {
    display: block !important;
}

.contentv1{
    background-color: var(--BG3);
    width: 95%;
    max-width: 1000px;
    height: 100%;
    max-height: 750px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

.contentv1 h1 {
    background-color: var(--BR);
    border-radius: 8px;
    font-size: 17px;
    padding: 5px 10px;
    width: 90%;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    height: 30px;
}

.contentv1 img {
    width: 40% !important;
    height: 250px !important;
    border-radius: 15px;
    margin-bottom: 10px;
    justify-self: center;
}

.contentv1 p {
    font-size: 15px;
    width: 94%;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
}

.contentv1 button {
    background: #931800;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-radius: 13px;
    float: right;
    font-weight: bold;
    height: 45px;
    width: 300px;
    justify-self: center;
}


@media screen and (max-width: 720px) {
    .contentv1{
        width: 90%;
        max-height: 780px;
    }
    .contentv1 img {
        height: 125px !important;
        width: 50% !important;
        margin-top: 10px;
    }
    .contentv1 button {
        width: 200px;
        justify-self: center;
    }
    .contentv1 h1 {
        margin-bottom: 0;
        font-size: 14px;
        height: 52px;
    }
    

}
